h1 {
    color:white;
    text-align: center;
    background-color:green;
    font-size: 75px;
}
p{
    font-family:"Times New Roman", Times, serif;
    font-size:50px;
}
body{
    background-image: url('https://static.runoob.com/images/mix/paper.gif');
}

/* navigation */
ul.nav{
    list-style-type:none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color:darkgreen;
    height: 50px;
}
ul.nav li{
    float:left
}
ul.nav li a{
    display:block;
    width:auto;
    background-color:darkgreen;
    color:white;
    text-align: left;
    font-size:40px;
    text-decoration:none;
    padding: 4px 4px;
    margin-right:0px;
}
ul.nav li a:hover:not(.active){
    background-color:grey;
}
ul.nav li a.active{
    background-color: black;
}
ul.nav li.right{
    float:right;
}


ul.web_dev{
    list-style-type:upper-roman;
}
table{
    border-collapse:collapse;
    width:100%;
    height: 200px;
}
table, th, td{
    border:1px solid black;
}
th{
    background-color: green;
    color: white;
}
th,td{
    font-size: large;
    padding:15px;
}
.box{
    /* display: none; */ /*not take place*/
    /*visibility: none; */ /*take place*/
    border-style: solid;
    border-width: 2px;
    border-color:darkgreen;

    outline-style:dotted;
    outline-width: 1px;

    margin:10px 10px 10px 10px;/*top right bottom left*/

    padding:10px 10px 10px 10px;
}
.box p{
    font-size: 50px;
    text-align: center;
    background-color: darkgreen;
    color:bisque;
    height:100px;
    margin: 0;
}